hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}
.card {
    height: 400px;
    width: 280px;
    margin: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover{
    transform: scale(1.05);
    box-shadow:0 0px 5px BLACK;
}
#films-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1400px;
}
#container {
    background-color: lightgreen;
    margin: auto;
    width: 65%;
    height: 100%;
    text-align: center;
}
.wrapper {
    background-color: lightgreen;
    margin: auto;
    width: 65%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}

#singleFilm {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    box-sizing: border-box;
}

#filmReviews {
    height: 100%;
    text-align: -webkit-center;
}

.innerWrapper {
    margin: 30px;
    padding: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    margin: 10px;
    height: 380px;
    width: 240px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailInfo {
    margin: 10px;
    width: 530px;
    float: left;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.reviewContent {
    padding: 25px;
    width: 600px;
    flex-wrap: wrap;
    text-align: left;
}
.innerReviewContent {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid;
    background-color: white;
    flex-wrap: wrap;
    text-align: left;
    box-shadow:0 0px 4px BLACK;
}
.navBar {
	width: auto;
	height: 98px;
	background-color: white;
	box-shadow: 0 10px 25px BLACK;
}
.navHeader {
	padding: 0px 32px;
	text-align: center;
	font-size: 38px;
	float: left;
	margin-left: 10px;
}
.button {
	border: solid;
	border-radius: 10px;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	color: black;

	float: right;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 22px;
	text-decoration: none;
}
#headerMessage {
    border: solid;
    text-align: center;
    margin: 20px;
    padding: 20px;

}
#message {
    border: solid;
    text-align: center;
    margin: 20px;
    background-color: lightblue;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
}
.banner {
    height: 150px;
    width: 1900px;
    margin: 0 auto;
}
.rate {
    margin-left: 25px;
    float: left;
    height: 46px;
    padding: 0 10px;
    align-items: center;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color: black;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: yellow;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: yellow;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: yellow;
}
.parentContainer {
	height: auto;
    padding: 20px;
}
.boxCenterWrapper {
	margin: auto;
  	width: 1125px;
  	height: 1150px;

}
.container {
	width: 300px;
	height: 450px;
	padding: 20px;
	background-color: white;

    float: left;
    text-align: center;
    margin-right:15px;
    margin-left: 15px;
    margin-bottom: 30px;

    box-shadow: 0 0 10px;

    transition:box-shadow .3s;
}
.container:hover {
	box-shadow: 0 0 25px;
}