<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="css/filmsStyle.css">
    <script>
        function submit() {
            document.getElementById("logout").submit();
        }
    </script>
</head>
<body>
<nav>
    <div class="navBar">
        <h1 class="navHeader">GhibliHub</h1>
        <a href="/Ghiblihub/about" class="button">About</a>

        <form id="logout" th:action="@{/logout}" method="post">
            <a onclick="submit()" href="#" class="button">Logout</a>
        </form>

        <a href="/Ghiblihub/profile" class="button">Profile</a>
        <a href="/Ghiblihub/films" class="button">Films</a>
        <a href="/Ghiblihub/home" class="button">Home</a>
    </div>
</nav>

<center>
    <div class="pageHeader">
        <h1> About </h1>
    </div>
    <h3>Developers: Douglas Ramirez &#8226; Christopher Zhang &#8226; Brett Davis &#8226; Jintao Lin</h3>

    <br>
    <div class="parentContainer">
        <div class="boxCenterWrapper">
            <h2>Tech Stack</h2>
            <hr>
            <br>
            <div class="container">
                <h3>Back-end</h3>
                <p>(Pic)</p>
                <p> I was born and raised in East Texas in a small town called Lufkin. I graduated from Lufkin High School in 2018, and
                    I am now attending The University of Texas at Austin. I am currently pursuing a bachelor's degree in Mathematics as well as a certification in computer programming, which includes the study of Computer Science. If all goes as planned, I expect to graduate in the spring of 2022 as a first-generation graduate. After graduating, I plan to pursue a career in the tech industry. My full name is Julian Sebastian Castellanos, but I preferred to be called Sebastian Castellanos.
                </p>
            </div>

            <div class="container">
                <h3>Front-end</h3>
                <p>(Pic)</p>
                <p>I am a junior at the University of Texas at Austin studying Computational Biology and Neuroscience while pursuing the Elements of Computing certificate. My technical interests include machine learning, data science, and deep learning. In my free time, I enjoy playing volleyball with my friends and participating in clubs such as Young Life and MLDS Club.</p>
            </div>

            <div class="container">
                <h3>Frameworks</h3>
                <p>(Pic)</p>
                <p>(Insert bio)</p>
            </div>

            <div class="container">
                <h3>OtherTechnologies</h3>
                <p>(Pic)</p>
                <p>I am a junior in chemical engineering at The University of Texas at Austin and am also pursuing an Elements of Computing Certificate. I am very passionate about learning and eager to understand how technology, innovation, and business can converge to efficiently solve industry problems. In my free time, you can find me bouldering, cooking, and dancing.</p>
            </div>
        </div>

        <hr>
        <div>
            <h2>Statistics</h2>
            <p>Total Commits:</p>
            <p>Total Issues:</p>
            <p>Total Unit Tests:</p>

            <a href="https://gitlab.com/mihirkamble_UT/cs331e-idb/-/issues"> GitLab Issue Tracker &emsp;||&emsp;</a>
            <a href="https://gitlab.com/mihirkamble_UT/cs331e-idb">GitLab Repo &emsp;||&emsp;</a>
            <a href="https://en.wikipedia.org/wiki/GitLab">GitLab Wikipedia</a>
        </div>
        <hr/>
        <h2>Tools Used</h2>
        <p>HTML &emsp; GitLab</p>

    </div>
</center>

</body>
</html>
