<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Page</title>
    <link rel="stylesheet" href="../../../css/filmsStyle.css">
</head>
<body>
<nav>
    <div class="navBar">
        <h1 class="navHeader">GhibliHub</h1>
        <a href="/Ghiblihub/about" class="button">About</a>
        <a href="#" class="button">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form></a>
        <a href="/Ghiblihub/profile" class="button">Profile</a>
        <a href="/Ghiblihub/films" class="button">Films</a>
        <a href="/Ghiblihub/home" class="button">Home</a>
    </div>
</nav>
    <div>
        <section id="currentReview">
            <h2>Review</h2>
        </section>

        <section name="commentContainer" id="allComments">
            <h2>Comments</h2>
        </section>
    </div>
    <div id="form">
        <form id="commentForm" action="#" method="POST">
            <fieldset>
                <legend>Comment Details</legend>

                <label>
                    Content: <br>
                    <textarea name="content" id="content" cols="30" rows="10"></textarea>
                </label>
                <br><br>
                <label>
                    User ID:
                    <input type="text" name="userId" id="userId" maxlength="10" required/>
                </label>
            </fieldset>
            <input type="submit" value="Submit Comment"/>
        </form>
    </div>
    <script src="../../../js/comment.js"></script>
</body>
</html>