<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Detail Page</title>
    <link rel="stylesheet" href="../../css/filmsStyle.css">
    <script src="../../js/singleFilm.js"></script>
</head>
<header>
    <div style="background-color: #DEB887;;">
    </div>
</header>

<body>
<nav>
    <div class="navBar">
        <h1 class="navHeader">GhibliHub</h1>
        <a href="/Ghiblihub/about" class="button">About</a>
        <a href="#" class="button">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form></a>
        <a href="/Ghiblihub/profile" class="button">Profile</a>
        <a href="/Ghiblihub/films" class="button">Films</a>
        <a href="/Ghiblihub/home" class="button">Home</a>
    </div>
</nav>
    <div id="container">
        <h1 id="filmName">${film.title}</h1>
        <div class="wrapper">
            <section id="singleFilm">

            </section>
        </div>
        <div>
            <form action="/Ghiblihub/postreview" method="GET">
                <input type="submit" value="Write a Review">
            </form>
        </div>
        <div class="wrapper">
            <center>
                <section id="filmReviews">
                    <h1>Reviews</h1>

                </section>
            </center>
        </div>

    </div>
</body>

<footer>
    <div style="background-color: #DEB887;">
    </div>
</footer>

</html>