<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghibli Films</title>
    <link rel="stylesheet" href="css/filmsStyle.css">
    <script src="js/populateFilms.js"></script>
    <script>
    function submit() {
        document.getElementById("logout").submit();
    }
    </script>
</head>
<body>
<nav>
    <div id="navBar">
        <ul>
            <li class="nav_button">
                <a href="/Ghiblihub/about">About</a>
            </li>
        </ul>
        <ul>
            <li class="nav_button">
                <a href="/Ghiblihub/profile">Profile</a>
            </li>
        </ul>
        <ul>
            <li class="nav_button">
                <a href="/Ghiblihub/home">Home</a>
            </li>
        </ul>
        <ul>
            <li class="nav_button">
                <a href="/Ghiblihub/films">Films</a>
            </li>
        </ul>
        <ul>
            <li class="nav_button">
                <form id="logout" th:action="@{/logout}" method="post">
                    <a onclick="submit()" href="#">Logout</a>
                </form>
                </a>
            </li>
        </ul>
    </div>
</nav>

    <div id="wrapper">
        <center>
        <h1 id="filmPageTitle">Ghibli Films Page</h1>
        <div id="films-container">

        </div>
        </center>
    </div>
</body>
</html>