<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghibli Films</title>
    <link rel="stylesheet" href="css/filmsStyle.css">
    <script src="js/populateFilms.js"></script>
</head>
<body>
    <nav>

    </nav>

    <div id="wrapper">
        <center>
        <h1>Ghibli Films Page</h1>
        <div id="films-container">

        </div>
        </center>
    </div>
</body>
</html>