<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Detail Page</title>
    <link rel="stylesheet" href="../../css/filmsStyle.css">
    <script>
    function submit() {
        document.getElementById("logout").submit();
    }
    </script>
</head>
<header>
    <div style="background-color: #DEB887;;">
    </div>
</header>

<body>
<nav>
    <div id="navBar">
        <ul>
            <li class="nav_button">
                <a href="/Ghiblihub/about">About</a>
            </li>
        </ul>
        <ul>
            <li class="nav_button">
                <a href="/Ghiblihub/profile">Profile</a>
            </li>
        </ul>
        <ul>
            <li class="nav_button">
                <a href="/Ghiblihub/home">Home</a>
            </li>
        </ul>
        <ul>
            <li class="nav_button">
                <a href="/Ghiblihub/films">Films</a>
            </li>
        </ul>
        <ul>
            <li class="nav_button">
                <a href="http://localhost:8080/Ghiblihub/login?logout">Log out
                    <!--                    <form th:action="@{/logout}" method="POST">-->
                    <!--                        <input type="submit" class=value="Logout" />-->
                    <!--                    </form>-->
                </a>
            </li>
        </ul>
    </div>
</nav>
    <div id="container">
        <h1 id="filmName">${film.title}</h1>
        <div class="wrapper">
            <section id="singleFilm">

            </section>
        </div>

        <div class="wrapper">
            <center>
                <section id="filmReviews">
                    <h1>Reviews</h1>

                </section>
            </center>
        </div>
        <div id="form">
            <form id="reviewForm" action="#" method="POST">
                <fieldset>
                    <legend>Review Details</legend>

                    <label for="rating">
                        Rating:
                        <input type="text" name="rating" id="rating" maxlength="10" required/>
                    </label>
                    <br><br>

                    <label for="content">
                        Content: <br>
                        <textarea name="content" id="content" cols="30" rows="10"></textarea>
                    </label>
                    <br><br>
                </fieldset>
                <input type="submit" value="Submit Review"/>
            </form>
        </div>
    </div>


    <script src="../../js/singleFilm.js"></script>
</body>

<footer>
    <div style="background-color: #DEB887;">
    </div>
</footer>

</html>