<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GhibliHub Home</title>
    <link rel="stylesheet" href="css/filmsStyle.css">
    <script>
        function submit() {
            document.getElementById("logout").submit();
        }
    </script>
</head>
<body>
<nav>
    <div class="navBar">
        <h1 class="navHeader">GhibliHub</h1>
        <a href="/Ghiblihub/about" class="button">About</a>

        <form id="logout" th:action="@{/logout}" method="post">
            <a onclick="submit()" href="#" class="button">Logout</a>
        </form>

        <a href="/Ghiblihub/profile" class="button">Profile</a>
        <a href="/Ghiblihub/films" class="button">Films</a>
        <a href="/Ghiblihub/home" class="button">Home</a>
    </div>
</nav>

<center>
    <div class="banner">

    </div>
<!--    <div>-->
<!--        <img class="GhibliLogo" src="images/homePage/Studio-Ghibli-logo.png">-->
<!--        <img class="Kiki" src="images/homePage/Kiki.png">-->
<!--        <img class="Chat" src="images/homePage/Chat.png">-->
<!--        <img class="Mononoke" src="images/homePage/Mononoke.png">-->
<!--        <img class="Ponyo" src="images/homePage/Ponyo.png">-->
<!--        <img class="Rating" src="images/homePage/Rating.png">-->
<!--        <img class="WhiteBunny" src="images/homePage/White-Bunny.png">-->
<!--        <img class="Jiji" src="images/homePage/Jiji.png">-->
<!--        <img class="Catbus" src="images/homePage/Catbus.png">-->
<!--    </div>-->


    <div class="wrapper">
        <div id="headerMessage">
            <h1>Welcome to GhibliHub!</h1>
            <h2>The home for all Ghibli fans!</h2>
        </div>

        <div id="message">
            You are about to enter a haven exclusively for Studio Ghibli fans.
            Once you have created an account and logged in, the community will
            welcome you with open arms. Review movies, engage in discussions, and
            overall have a relaxing time. We hope you enjoy your stay at GhibliHub!
        </div>

        <a href="/Ghiblihub/films" class="button">Enter</a>

    </div>
</center>
</body>
</html>
