<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<!--    <style>-->
<!--    body {-->
<!--        background-color: rgb(21, 20, 20);-->
<!--    }-->
<!--    .banner {-->
<!--            height : 150px;-->
<!--            width : 1900px;-->
<!--            background-color: rgb(41, 170, 205);-->
<!--    }-->
<!--    .GhibliLogo {-->
<!--          position: absolute;-->
<!--          left: 800px;-->
<!--          top: 10px;-->
<!--    }-->
<!--    .Kiki {-->
<!--          position: absolute;-->
<!--          left: 1640px;-->
<!--          top: 200px;-->
<!--    }-->
<!--    .Chat {-->
<!--          position: absolute;-->
<!--          left: 1470px;-->
<!--          top: 450px;-->
<!--    }-->
<!--    .Mononoke {-->
<!--          position: absolute;-->
<!--          left: 1300px;-->
<!--          top: 700px;-->
<!--    }-->
<!--    .Ponyo {-->
<!--          position: absolute;-->
<!--          left: 345px;-->
<!--          top: 700px;-->
<!--    }-->
<!--    .Rating {-->
<!--          position: absolute;-->
<!--          left: 125px;-->
<!--          top: 520px;-->
<!--    }-->
<!--    .WhiteBunny {-->
<!--          position: absolute;-->
<!--          left: 5px;-->
<!--          top: 200px;-->
<!--    }-->
<!--    .Jiji {-->
<!--          position: absolute;-->
<!--          left: 300px;-->
<!--          top: 15px;-->
<!--    }-->
<!--    .Catbus {-->
<!--          position: absolute;-->
<!--          left: 1400px;-->
<!--          top: -20px;-->
<!--    }-->
<!--    h1 {-->
<!--        text-align: center;-->
<!--        color: white;-->
<!--        font-size: 48px;-->
<!--    }-->
<!--    p {-->
<!--        text-align: center;-->
<!--        color: white;-->
<!--        font-size: 24px;-->
<!--        letter-spacing: 3px;-->
<!--    }-->
<!--    a {-->
<!--        text-align: center;-->
<!--        color: white;-->
<!--        font-size: 28px;-->
<!--        border: 20px solid rgb(21, 20, 20) ;-->
<!--    }-->
<!--    </style>-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GhibliHub Home</title>
    <link rel="stylesheet" href="css/filmsStyle.css">
</head>
<body>
<nav>
    <div class="navBar">
        <h1 class="navHeader">GhibliHub</h1>
        <a href="/Ghiblihub/about" class="button">About</a>
        <a href="#" class="button">
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout" />
            </form></a>
        <a href="/Ghiblihub/profile" class="button">Profile</a>
        <a href="/Ghiblihub/films" class="button">Films</a>
        <a href="/Ghiblihub/home" class="button">Home</a>
    </div>
</nav>

<center>
    <div class="banner">

    </div>
<!--    <div>-->
<!--        <img class="GhibliLogo" src="images/homePage/Studio-Ghibli-logo.png">-->
<!--        <img class="Kiki" src="images/homePage/Kiki.png">-->
<!--        <img class="Chat" src="images/homePage/Chat.png">-->
<!--        <img class="Mononoke" src="images/homePage/Mononoke.png">-->
<!--        <img class="Ponyo" src="images/homePage/Ponyo.png">-->
<!--        <img class="Rating" src="images/homePage/Rating.png">-->
<!--        <img class="WhiteBunny" src="images/homePage/White-Bunny.png">-->
<!--        <img class="Jiji" src="images/homePage/Jiji.png">-->
<!--        <img class="Catbus" src="images/homePage/Catbus.png">-->
<!--    </div>-->


    <div class="wrapper">
        <div id="headerMessage">
            <h1>Welcome to GhibliHub!</h1>
            <h2>The home for all Ghibli fans!</h2>
        </div>

        <div id="message">
            You are about to enter a haven exclusively for Studio Ghibli fans.
            Once you have created an account and logged in, the community will
            welcome you with open arms. Review movies, engage in discussions, and
            overall have a relaxing time. We hope you enjoy your stay at GhibliHub!
        </div>

        <a href="/Ghiblihub/films" class="button">Enter</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</center>
</body>
</html>
