<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GhibliHub Post Review</title>
    <link rel="stylesheet" href="css/filmsStyle.css">
    <script src="js/filmsDropdown.js"></script>
</head>
<body>
<form id="reviewForm" action="/Ghiblihub/reviews" method="POST">
    <fieldset>
        <legend>Review Details</legend>

        <label for="rating">
            Rating:
            <input type="text" name="rating" id="rating" maxlength="10" required/>
        </label>
        <br><br>

        <label for="content">
            Content: <br>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </label>
        <br><br>
        <label for="userId">
            User ID:
            <input type="text" name="userId" id="userId" maxlength="10" required/>
        </label>
        <br><br>
        <label for="selectFilm">
            Film:
            <select name="filmTitle" id="selectFilm">
                <option selected value="base">Please select a film</option>
            </select>
        </label>
    </fieldset>
    <input type="submit" value="Submit Review"/>
</form>
</body>
</html>