<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Review Page</title>
    <script src="js/filmsDropdown.js"></script>
</head>
<body>
<form id="reviewForm" action="/Ghiblihub/reviews" method="POST">
    <fieldset>
        <legend>Review Details</legend>

        <label for="rating">
            Rating:
            <input type="text" name="rating" id="rating" maxlength="10" required/>
        </label>
        <br><br>

        <label for="content">
            Content: <br>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </label>
        <br><br>
        <label for="userId">
            User ID:
            <input type="text" name="userId" id="userId" maxlength="10" required/>
        </label>
        <br><br>
        <label for="selectFilm">
            Film:
            <select name="filmTitle" id="selectFilm">
                <option selected value="base">Please select a film</option>
            </select>
        </label>
    </fieldset>
    <input type="submit" value="Submit Review"/>
</form>
<a href="/home">Home</a>
</body>
</html>